{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% trans 'Cabcom Games' %}{% endblock %}

{% block content_title %}
	{% if game.display_name %}
	{{ game.display_name }}
	{% else %}
	{{ game.name }}
	{% endif %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Game Details</h4>
			</div>
			<table class="table">
				<tr>
					<th>Name</th>
					<td>{{ game.name }}</td>
				</tr>
				<tr>
					<th>File name</th>
					<td>{{ game.file_name }}</td>
				</tr>
				<tr>
					<th>Genre</th>
					<td>{{ game.genre }}</td>
				</tr>
				<tr>
					<th>Platform</th>
					<td>{{ game.platform }}</td>
				</tr>
				<tr>
					<th>Publisher</th>
					<td>{{ game.publisher }}</td>
				</tr>
				<tr>
					<th>Release Date</th>
					<td>{{ game.release_date }}</td>
				</tr>
				<tr>
					<th>Provider</th>
					<td>{{ game.provider }}</td>
				</tr>
			</table>
		</div>
	</div>

	{% if detail_type == 'game' %}
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Media Files</h4>
			</div>
			<table class="table">
				<tr>
					<th>
						<span class="label {% if title_file %}label-success{% else %}label-default{% endif %}"><span class="glyphicon glyphicon-tag"></span></span>
						Title
					</th>
					<td>{{ title_file }}</td>
				</tr>
				<tr>
					<th>
						<span class="label {% if screenshot_file %}label-success{% else %}label-default{% endif %}"><span class="glyphicon glyphicon-camera"></span></span>
						Screenshot
					</th>
					<td>{{ screenshot_file }}</td>
				</tr>
				<tr>
					<th>
						<span class="label {% if background_file %}label-success{% else %}label-default{% endif %}"><span class="glyphicon glyphicon-picture"></span></span>
						Background
					</th>
					<td>{{ background_file }}</td>
				</tr>
				<tr>
					<th>
						<span class="label {% if video_file %}label-success{% else %}label-default{% endif %}"><span class="glyphicon glyphicon-film"></span></span>
						Video
					</th>
					<td>{{ video_file }}</td>
				</tr>
			</table>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
