{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% trans 'Cabcom Games' %}{% endblock %}
{% block menu_game_class %}active{% endblock %}

{% block content_title %}{{ title }}{% endblock %}

{% block content %}
{% if games or search %}
	<div class="row">
		<div class="col-lg-6">
			<form action="{% url 'gamelist:index' %}{{ detail_type }}" method="get">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search..." name="q" value="{{ search }}">
					<span class="input-group-btn">
					<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
			</form>
		</div>
		<div class="col-lg-3">
			{% if search %}
			<form action="{% url 'gamelist:index' %}{{ detail_type }}" method="get">
				<div class="input-group">
					<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-remove-circle"></span> Clear</button>
				</div>
			</form>
			{% endif %}
		</div>
		<div class="col-lg-3">
			<div class="btn-group pull-right">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				Actions <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Delete</a></li>
					<li><a href="#">Populate</a></li>
				</ul>
			</div>
		</div>
	</div>

	<p></p>

	<table class="table table-striped">
		<thead>
			<tr class="info">
				<th><input type="checkbox"/></th>
				<th>Game</th>
				<th>Genre</th>
				<th>Platform</th>
				<th>Publisher</th>
				<th>Release Date</th>
				<th>Media</th>
			</tr>
		</thead>
		<tbody>
			{% for game in games %}
			<tr>
				<td><input type="checkbox"/></td>
				<td>
					<a href="{% url 'gamelist:index' %}{{ detail_type }}/{{ game.id }}/">
					{% if game.display_name %}
					{{ game.display_name }}
					{% else %}
					{{ game.name }}
					{% endif %}
					</a>
				</td>
				<td>{{ game.genre }}</td>
				<td>{{ game.platform }}</td>
				<td>{{ game.publisher }}</td>
				<td>{{ game.release_date }}</td>
				<td>
					<span class="label label-success"><span class="glyphicon glyphicon-tag"></span></span>
					<span class="label label-success"><span class="glyphicon glyphicon-camera"></span></span>
					<span class="label label-success"><span class="glyphicon glyphicon-picture"></span></span>
					<span class="label label-success"><span class="glyphicon glyphicon-film"></span></span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if is_paginated %}
	<div class="pull-right">
		<ul class="pagination">
			<li><a href="?page=1&q={{ search }}"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
			{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}&q={{ search }}"><span class="glyphicon glyphicon-backward"></span></a></li>
			{% else %}
			<li class="disabled"><a href="#"><span class="glyphicon glyphicon-backward"></span></a></li>
			{% endif %}
			<li class="disabled"><a href="#">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a></li>
			{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}&q={{ search }}"><span class="glyphicon glyphicon-forward"></span></a></li>
			{% else %}
			<li class="disabled"><a href="#"><span class="glyphicon glyphicon-forward"></span></a></li>
			{% endif %}
			<li><a href="?page={{ page_obj.paginator.num_pages }}&q={{ search }}"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
		</ul>
	</div>
	{% endif %}
{% else %}
	<p>No games yet</p>
{% endif %}
{% endblock %}
