{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}Cabrio{% endblock %}

{% block content %}
{% if form.errors %}
<div class="row">
	<div class="alert alert-danger">
		<h4>Error</h4>
		<ul>
		{% for field in form %}
			{% if field.errors %}
			<li>{{ field.label }}: {{ field.errors|striptags }}</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-6">
		<form action="{% url 'frontend:cabrio' %}" method="post">
			{% csrf_token %}
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Configuration</h4>
				</div>
				<table class="table">
					<tr>
						<th>Target Directory</th>
						<td><input type="text" class="form-control {% if form.config_dir.errors %}form-error{% endif %}" name="config_dir" value="{{ form.config_dir.value }}"></input></td>
					</tr>
				</table>
				<div class="panel-body">
					<button type="submit" name="generate" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-wrench"></span> Generate</button>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Interface</h4>
				</div>
				<table class="table">
					<tr>
						<th>Fullscreen Mode</th>
						<td><input type="checkbox" class="form-control" name="fullscreen" {% if form.fullscreen.value %}checked="checked"{% endif %}></input></td>
					</tr>
					<tr>
						<th>Frame Rate</th>
						<td><input type="text" class="form-control {% if form.framerate.errors %}form-error{% endif %}" name="framerate" value="{{ form.framerate.value }}"></input></td>
					</tr>
					<tr>
						<th>Theme</th>
						<td>
							<select name="theme" class="form-control">
							{% for value, name in form.fields.theme.choices %}
								<option value="{{ value }}" {% if value == form.theme.value|add:0 %}selected="selected"{% endif %}>{{ name }}</option>
							{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<th>Screen Width</th>
						<td><input type="text" class="form-control {% if form.screen_width.errors %}form-error{% endif %}" name="screen_width" value="{{ form.screen_width.value }}"></input></td>
					</tr>
					<tr>
						<th>Screen Height</th>
						<td><input type="text" class="form-control  {% if form.screen_height.errors %}form-error{% endif %}" name="screen_height" value="{{ form.screen_height.value }}"></input></td>
					</tr>
					<tr>
						<th>Rotation</th>
						<td>
							<select name="rotation" class="form-control">
							{% for value, name in form.fields.rotation.choices %}
								<option value="{{ value }}" {% if value == form.rotation.value|add:0 %}selected="selected"{% endif %}>{{ name }}</option>
							{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<th>Graphics Quality</th>
						<td>
							<select name="gfx_quality" class="form-control">
							{% for value, name in form.fields.gfx_quality.choices %}
								<option value="{{ value }}" {% if value == form.gfx_quality.value %}selected="selected"{% endif %}>{{ name }}</option>
							{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<th>Max Image Width</th>
						<td><input type="text" class="form-control {% if form.max_image_width.errors %}form-error{% endif %}" name="max_image_width" value="{{ form.max_image_width.value }}"></input></td>
					</tr>
					<tr>
						<th>Max Image Height</th>
						<td><input type="text" class="form-control {% if form.max_image_height.errors %}form-error{% endif %}" name="max_image_height" value="{{ form.max_image_height.value }}"></input></td>
					</tr>
				</table>
				<div class="panel-body">
					<button type="submit" name="save" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading text-center">
				<img src="/static/images/frontend/cabrio.png" width="400" height="120"/>
			</div>
			<div class="panel-body">
				<p>
				<a href="http://www.cabrio-fe.org/">Cabrio</a> is a graphical front end
				for emulators, specifically designed for use in arcade cabinets. It allows
				you to select games via an intuitive, attractive interface which is easy
				to use with limited controls, such as a joystick.
				</p><p>
				Cabrio is made available under the GNU General Public License, meaning
				anyone can freely download the source code and even contribute to development.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
