{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% trans 'Cabcom Dashboard' %}{% endblock %}
{% block menu_home_class %}active{% endblock %}

{% block content_title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-success">
			<div class="panel-heading text-center">
				<h2>Active Games</h2>
			</div>
			<div class="panel-body text-center">
				<h1>
					<a href="{% url 'gamelist:index' %}game" class="label label-primary label-lg">{{ game_count }}</a>
				</h1>
			</div>
			<div class="panel-body text-center">
				<form action="{% url 'gamelist:index' %}game" method="get">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search..." name="q" value="{{ search }}">
						<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-warning">
			<div class="panel-heading text-center">
				<h2>Games in Database</h2>
			</div>
			<div class="panel-body text-center">
				<h1>
					<a href="{% url 'gamelist:index' %}data" class="label label-primary label-lg">{{ data_count }}</a>
				</h1>
			</div>
			<div class="panel-body text-center">
				<form action="{% url 'gamelist:index' %}data" method="get">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search..." name="q" value="{{ search }}">
						<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h2>Media Sources</h2>
			</div>
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="#">
					<span class="glyphicon glyphicon-tag"></span>
					Title images
					<span class="badge badge-primary pull-right">0</span>
					</a>
				</li>
				<li>
					<a href="#">
					<span class="glyphicon glyphicon-camera"></span>
					Screenshots
					<span class="badge badge-primary pull-right">0</span>
					</a>
				</li>
				<li>
					<a href="#">
					<span class="glyphicon glyphicon-picture"></span>
					Backgrounds
					<span class="badge badge-primary pull-right">0</span>
					</a>
				</li>
				<li>
					<a href="#">
					<span class="glyphicon glyphicon-film"></span>
					Videos
					<span class="badge badge-primary pull-right">0</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
