{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}MAME{% endblock %}


{% block extrahead %}
{% if not mame.idle %}
<meta http-equiv="refresh" content="5">
{% endif %}
{% endblock %}

{% block content %}
{% if not mame.idle or mame.inventory > 0 %}
<div class="row">
	{% if mame.idle and mame.imported == mame.inventory %}
	<div class="alert alert-success text-center">
		<h3>{{ mame.imported }} games imported</h3>
	</div>
	{% else %}
	<div class="alert alert-info text-center">
		{% if mame.imported == 0 %}
		<h3>Building game list...</h3>
			{% if mame.inventory > 0 %}
			<p>
				{{ mame.inventory }} games found
			</p>
			{% endif %}
		{% else %}
		<h3>Importing...</h3>
		<p>
			Imported {{ mame.imported }} of {{ mame.inventory }} games
		</p>
		{% endif %}
	</div>
	{% endif %}
</div>
{% endif %}

{% if not mame.idle %}
<div class="row">
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ mame.imported }}"
			aria-valuemin="0" aria-valuemax="{{ mame.inventory }}" style="width: {{ imported_percent }}%;">
			<span class="sr-only">{{ mame.imported }}/{{ mame.inventory }}</span>
		</div>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="col-md-6">
		<form action="{% url 'provider:mame' %}" method="post">
			{% csrf_token %}
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Configuration</h4>
				</div>
				<table class="table">
					<tr>
						<th>MAME Executable</th>
						<td><input type="text" class="form-control" name="executable" value="{{ object.executable }}"></input></td>
					</tr>
					<tr>
						<th>Platform</th>
						<td>
							<div class="input-group">
								<input type="text" id="platform_name" name="platform_name" class="form-control">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu pull-right">
									{% for platform in platforms %}
										<li><a href="#" onclick="document.getElementById('platform_name').value = '{{ platform.name }}';">{{ platform.name }}</a></li>
									{% endfor %}
									</ul>
								</div>
							</div>
						</td>
					</tr>
				</table>
				<div class="panel-body">
					<button type="submit" class="btn btn-lg btn-success {% if not mame.idle %}disabled{% endif %}"><span class="glyphicon glyphicon-download-alt"></span> Import</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<p>
					<strong>The MAME emulator can be used to generate a list of all the
					games it can run, including details such as the full title, publisher
					and release date.</strong>
				</p>
			</div>
			<div class="panel-body">
				<p>
					By providing the path to the
					<span class="label label-default">MAME Executable</span> on your
					system, this list can be generated and imported into the game database.
					The information can then be used to automatically populate your active
					game list with this information.
				</p>
				<p>
					The optional <span class="label label-default">Platform</span> may be
					used to set the platform associated with all games imported from MAME.
				</p>
				<p>
					The <span class="label label-success">Import</span> button starts the
					import process, which may take some considerable time as most MAME
					versions support many thousands of individual games.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
